.img {
  width: 210px;
  height: 140px;
  background-color: #fff;
  /* padding: 1rem 1rem 0rem 1rem; */
  /* box-shadow: 10px 10px 5px #000; */
  
  /* border: #626aef solid 1px; */
}
.img-item:hover {
  box-shadow: 10px 10px 5px #000;
}
.img-item {
  transition: 0.5s ease;
  background-color: #fff;
  padding: 2rem 1rem;
  margin-top: 1rem;
}

.img-desc {
  background: #3e3f4199;
  width: 210px;
  height: 1.7rem;
  color: #fff;
}

.font14{
  font-size: 14px;
}
.el-image{
  display: block !important;
}
